name: Build from Dockerfile

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v5
     # - name: snap install xfce4_novnc
       # run:  |
        # sudo snap install novnc
         
      - name: ngrok
        run:  |
         snap install ngrok
         ngrok config add-authtoken 39Z13C8a58TzaTLeBEQrqdgyQvi_5HLkdxcf1jDV7oE3KC5BX
         ngrok http 80


        
