name: ubuntu_novnc

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v5
      - name: snap install xfce4_novnc
        run:  |
         sudo snap install novnc
 
      - uses: luisboto/ngrok-tunnel-action@<VERSION>
        with:
          timeout: 1h
          port: 8080
          ngrok_authtoken: 39Z13C8a58TzaTLeBEQrqdgyQvi_5HLkdxcf1jDV7oE3KC5BX
          tunnel_type: http
          save_url_to_filename: tunnelURL.md
      


        
