name: Build from Dockerfile

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v5
      - name: snap install xfce4_novnc
        run:  |
         sudo snap install novnc
         sudo snap install ngrok
         
      - name: Установить зависимости
        run:




        
