name: ubuntu_novnc

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: snap install xfce4_novnc
        run:  |
         sudo apt install xfce4
      - name: snap install xfce4_novnc
        run:  |
         sudo snap install novnc
 
